#demo-modal .modal-content {
    border-radius: 0;
    padding: 2rem;
}
#demo-modal .modal-header {
    border-bottom: none;
}
#demo-modal h4 {
    color: #000;
    font-size: 30px;
    margin: 0 0 25px;
    font-weight: bold;
    text-transform: capitalize;
}
#demo-modal .close {
    background: #c0c3c8;
    border-radius: 50%;
    color: #fff;
    font-size: 19px;
    font-weight: normal;
    height: 30px;
    opacity: 0.5;
    padding: 0;
    position: absolute;
    right: 26px;
    text-align: center;
    top: 26px;
    width: 30px;
}
#demo-modal .close span {
    position: relative;
    top: -3px;
}
#demo-modal .modal-body p {
    color: #999;
}
#demo-modal .form-control,
#demo-modal .btn {
    min-height: 46px;
}
#demo-modal .btn {
    background-color: #1da098;
    border: none;
    color: #fff;
    min-width: 150px;
    transition: all 0.4s;
}
#demo-modal .btn:hover,
#demo-modal .btn:focus {
    background-color: #12968d;
}
